In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./Data/hrly_Irish_weather.csv')
df.head()

C:\Users\gto_n\.conda\envs\raifhack_2021\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,county,station,latitude,longitude,date,rain,temp,wetb,dewpt,vappr,rhum,msl,wdsp,wddir,sun,vis,clht,clamt
0,Galway,ATHENRY,53.289,-8.786,26-jun-2011 01:00,0.0,15.3,14.5,13.9,15.8,90,1016.0,8,190,NaN,NaN,NaN,NaN
1,Galway,ATHENRY,53.289,-8.786,26-jun-2011 02:00,0.0,14.7,13.7,12.9,14.9,89,1015.8,7,190,NaN,NaN,NaN,NaN
2,Galway,ATHENRY,53.289,-8.786,26-jun-2011 03:00,0.0,14.3,13.4,12.6,14.6,89,1015.5,6,190,NaN,NaN,NaN,NaN
3,Galway,ATHENRY,53.289,-8.786,26-jun-2011 04:00,0.0,14.4,13.6,12.8,14.8,90,1015.3,7,180,NaN,NaN,NaN,NaN
4,Galway,ATHENRY,53.289,-8.786,26-jun-2011 05:00,0.0,14.4,13.5,12.7,14.7,89,1015.1,6,190,NaN,NaN,NaN,NaN

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4660423 entries, 0 to 4660422
Data columns (total 18 columns):
 #   Column     Dtype
---  ------     -----
 0   county     object
 1   station    object
 2   latitude   float64
 3   longitude  float64
 4   date       object
 5   rain       object
 6   temp       object
 7   wetb       object
 8   dewpt      object
 9   vappr      object
 10  rhum       object
 11  msl        object
 12  wdsp       object
 13  wddir      object
 14  sun        object
 15  vis        object
 16  clht       object
 17  clamt      object
dtypes: float64(2), object(16)
memory usage: 3.4 GB

In [6]:
df.isnull().sum()

county             0
station            0
latitude           0
longitude          0
date               0
rain               0
temp               0
wetb               0
dewpt              0
vappr              0
rhum               0
msl                0
wdsp          229032
wddir         229032
sun          2585167
vis          2585167
clht         2585167
clamt        2585167
dtype: int64