In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Data/hrly_Irish_weather.csv')
df.head()

C:\Users\gto_n\.conda\envs\raifhack_2021\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,county,station,latitude,longitude,date,rain,temp,wetb,dewpt,vappr,rhum,msl,wdsp,wddir,sun,vis,clht,clamt
0,Galway,ATHENRY,53.289,-8.786,26-jun-2011 01:00,0.0,15.3,14.5,13.9,15.8,90,1016.0,8,190,NaN,NaN,NaN,NaN
1,Galway,ATHENRY,53.289,-8.786,26-jun-2011 02:00,0.0,14.7,13.7,12.9,14.9,89,1015.8,7,190,NaN,NaN,NaN,NaN
2,Galway,ATHENRY,53.289,-8.786,26-jun-2011 03:00,0.0,14.3,13.4,12.6,14.6,89,1015.5,6,190,NaN,NaN,NaN,NaN
3,Galway,ATHENRY,53.289,-8.786,26-jun-2011 04:00,0.0,14.4,13.6,12.8,14.8,90,1015.3,7,180,NaN,NaN,NaN,NaN
4,Galway,ATHENRY,53.289,-8.786,26-jun-2011 05:00,0.0,14.4,13.5,12.7,14.7,89,1015.1,6,190,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4660423 entries, 0 to 4660422
Data columns (total 18 columns):
 #   Column     Dtype
---  ------     -----
 0   county     object
 1   station    object
 2   latitude   float64
 3   longitude  float64
 4   date       object
 5   rain       object
 6   temp       object
 7   wetb       object
 8   dewpt      object
 9   vappr      object
 10  rhum       object
 11  msl        object
 12  wdsp       object
 13  wddir      object
 14  sun        object
 15  vis        object
 16  clht       object
 17  clamt      object
dtypes: float64(2), object(16)
memory usage: 640.0+ MB

In [5]:
df.isnull().sum()

county             0
station            0
latitude           0
longitude          0
date               0
rain               0
temp               0
wetb               0
dewpt              0
vappr              0
rhum               0
msl                0
wdsp          229032
wddir         229032
sun          2585167
vis          2585167
clht         2585167
clamt        2585167
dtype: int64

In [6]:
df = df[['latitude','longitude','rain', 'temp', 'wetb', 'dewpt', 'vappr', 'rhum', 'msl', 'wdsp']]

In [7]:
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df.head(5)

   latitude  longitude rain  temp  wetb dewpt vappr rhum     msl wdsp
0    53.289     -8.786  0.0  15.3  14.5  13.9  15.8   90  1016.0    8
1    53.289     -8.786  0.0  14.7  13.7  12.9  14.9   89  1015.8    7
2    53.289     -8.786  0.0  14.3  13.4  12.6  14.6   89  1015.5    6
3    53.289     -8.786  0.0  14.4  13.6  12.8  14.8   90  1015.3    7
4    53.289     -8.786  0.0  14.4  13.5  12.7  14.7   89  1015.1    6

In [8]:
cols = df.select_dtypes(exclude=['float']).columns
df[cols] = df[cols].apply(pd.to_numeric, downcast='float', errors='coerce')
df.head(5)

,latitude,longitude,rain,temp,wetb,dewpt,vappr,rhum,msl,wdsp
0,53.289,-8.786,0.0,15.3,14.5,13.9,15.8,90.0,1016.000000,8.0
1,53.289,-8.786,0.0,14.7,13.7,12.9,14.9,89.0,1015.799988,7.0
2,53.289,-8.786,0.0,14.3,13.4,12.6,14.6,89.0,1015.500000,6.0
3,53.289,-8.786,0.0,14.4,13.6,12.8,14.8,90.0,1015.299988,7.0
4,53.289,-8.786,0.0,14.4,13.5,12.7,14.7,89.0,1015.099976,6.0

In [9]:
df.isnull().sum()

latitude          0
longitude         0
rain         111066
temp          32024
wetb          44410
dewpt         43281
vappr        186606
rhum         162754
msl           72718
wdsp          81977
dtype: int64

In [10]:
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4214711 entries, 0 to 4214710
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   latitude   float64
 1   longitude  float64
 2   rain       float32
 3   temp       float32
 4   wetb       float32
 5   dewpt      float32
 6   vappr      float32
 7   rhum       float32
 8   msl        float32
 9   wdsp       float32
dtypes: float32(8), float64(2)
memory usage: 192.9 MB

In [11]:
df.to_csv('Data/clear_df.csv', index=False)